<%= link_to ride do %>
  <div class="card-product-infos">
    <img class="car-img" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="car-second-column">
      <p><%= ride.car.name %></p>
      <p><%= ride.start_date %></p>
    </div>
    <div class="card-product-details">
        <p><%= ride.car.address %></p>
        <h2 class="card-pricing"><%= ride.car.price %>€</h2>
    </div>
  </div>
<% end %>
