
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d39a3h63xew422.cloudfront.net/wp-content/uploads/2019/12/05134339/Andrea-Casano-rare-Fiat-600s-meetup-44-1000x666.jpg);">
  <div class="container">
    <h1>Rent a <strong>Vintage</strong></h1>
    <p>Select your dream car and go for an unforgetable ride</p>
    <%= link_to "Select your dream car", "#", class: "btn-banner" %>
  </div>
</div>

<div class="cards">
  <% @cars.each do |car| %>
    <% car_rating = 0 %>
    <% i =  0 %>
    <% Review.where(car: car).each do |rating| %>
      <% car_rating += rating %>
      <% i += 1 %>
    <% end %>
    <% car_rating /= i if i != 0 %>
    <div class="card">
      <%= image_tag "#{rand(1..7)}.jpg" %>
      <div class="card-infos">
        <div>
          <h2><%= link_to car.name, car_path(car) %></h2>
          <p><%= "#{car.brand} | #{car.model} | #{car.year}" %></p>
        </div>
        <h2 class="card-pricing"><%= car.price %>€</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
        <% if Review.where(car: car) == [] %>
          <div class="no-rating">
            <p>no rating yet</p>
          </div>
        <% else %>
          <div class="cards-rating">
            <% rating.times do%>
              <%= image_tag("vintage-gold", :alt => "*") %>
            <% end %>
            <% (5 - rating).times do%>
              <%= image_tag("vintage-gray", :alt => "*") %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
