 p<div class="container">

  <div class="banner" style="padding:15px; text-align:center;">
      <h1>Add a new car</h1>
      <p>Please fill in all the fields and click "Add a car". </p>
  </div>

  <%= simple_form_for @car do |f| %>
    <%= f.input :name %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :year %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%#= f.input :availabilty, as: :array %>
    <%= f.submit "Add a car", class: "btn btn-primary" %>
  <% end %>

  <div class="small" style="margin: 16px 0;">
    <%= link_to "Go back to the car list without saving", cars_path %>
  </div>

</div>

