<div class="show-banner"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <h2 id="show-title"><strong><%= @car.name.capitalize %></strong></h2>
      <div style="display:  grid; grid-template-columns:  1fr 1fr;">
      <table>
        <tr>
          <th>Brand</th>
          <td><%= @car.brand %></td>
        </tr>
        <tr>
          <th>Model</th>
          <td><%= @car.model %></td>
        </tr>
        <tr>
          <th>Year</th>
          <td><%= @car.year %></td>
        </tr>
        <tr>
          <th>Description</th>
          <td><%= @car.description %></td>
        </tr>
        <tr>
          <th>Price</th>
          <td><%= @car.price %></td>
        </tr>
        <tr>
          <th>Rating</th>
          <td>
            <%# car_rating = 0 %>
            <%# i =  0 %>
            <%# Review.where(car: @car).each do |rating| %>
              <%# car_rating += rating %>
              <%# i += 1 %>
            <%# end %>
            <%# car_rating /= i if i != 0 %>
            <%# if Review.where(car: @car) == [] %>
            <%# else %>
              <% rating = rand(1..5) %>
              <div class="rating-show">
                <% rating.times do%>
                  <%= image_tag("vintage-gold", :alt => "*") %>
                <% end %>
                <% (5 - rating).times do%>
                  <%= image_tag("vintage-gray", :alt => "*") %>
                <% end %>
              </div>
            <%# end %>
          </td>
        </tr>
        <tr>
          <th>Address</th>
          <td><%= @car.address %></td>
        </tr>
      </table>
      <%= image_tag "#{rand(1..7)}.jpg", width: 300, style: "justify-self: flex-end;" %>
      </div>
          <div
      id="map"
      style="width: 100%;
      height: 300px; margin-top: 20px; margin-bottom: 30px"
      data-markers="<%= [@marker].to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
    </div>
    <div class="calendar">
      <h4>Availability</h4>
      <% i = 0 %>
      <%= month_calendar events: @rides do |date, rides| %>
        <% available = false  %>
        <% @rides.each do |ride| %>
          <% if (ride.start_date <= date) && date <= ride.end_date %>
            <% available = true %>
          <% end %>
        <% end %>
        <% if available %>
          <div class="day-cell" style="background-color: darkgray; color: white; text-align: center">
            <span><%= date.day %></span>
          </div>
        <% elsif (i < 7) && (date.day > 20) %>
          <div class="day-cell calendar-off" >
            <%= date.day %>
          </div>
        <% elsif (i > 20) && (date.day < 10) %>
          <div class="day-cell calendar-off">
            <%= date.day %>
          </div>
        <% else %>
          <div class="day-cell" style="text-align: center" >
            <%= link_to date.day, "../rides/new?car_id=#{@car.id}&start_date=#{date}" %>
          </div>
        <% end %>
        <% i += 1 %>
      <% end %>
      <hr>
      <div>
        <%= simple_form_for @ride, { :url => rides_path, :method => 'post' } do |f| %>
          <%= f.input :car_id, :as => :hidden, :input_html => { :value => @car.id } %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit "Book your ride now!", class: "btn-book"%>
        <% end %>
      </div>
      <br>
      <div class="small" style="margin: 16px 0;">
        <%= link_to "Go back to the car list without saving", root_path, class: "btn-back" %>
      </div>
    </div>
  </div>
</div>
