
<h1><%= @car.name %></h1>

<table>
  <tr>
    <th>Brand</th>
    <td><%= @car.brand %></td>
  </tr>
  <tr>
    <th>Model</th>
    <td><%= @car.model %></td>
  </tr>
  <tr>
    <th>Year</th>
    <td><%= @car.year %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @car.description %></td>
  </tr>
  <tr>
    <th>Price</th>
    <td><%= @car.price %></td>
  </tr>
</table>



