
<h1><%= @car.name %></h1>

<table>
  <tr>
    <th>Brand</th>
    <td><%= @car.brand %></td>
  </tr>
  <tr>
    <th>Model</th>
    <td><%= @car.model %></td>
  </tr>
  <tr>
    <th>Year</th>
    <td><%= @car.year %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @car.description %></td>
  </tr>
  <tr>
    <th>Price</th>
    <td><%= @car.price %></td>
  </tr>
</table>

<br><hr>
<%= link_to "Edit the car", edit_car_path(@car), class: "btn-primary" %>
<br><hr><br>
<%= link_to raw('<i class="fas fa-trash-alt"></i>'), car_path(@car), method: :delete %>
<br><hr><br>
<%= link_to "Car List", cars_path %>



