<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <h2><%= @car.name %></h2>
      <table>
        <tr>
          <th>Brand</th>
          <td><%= @car.brand %></td>
        </tr>
        <tr>
          <th>Model</th>
          <td><%= @car.model %></td>
        </tr>
        <tr>
          <th>Year</th>
          <td><%= @car.year %></td>
        </tr>
        <tr>
          <th>Description</th>
          <td><%= @car.description %></td>
        </tr>
        <tr>
          <th>Price</th>
          <td><%= @car.price %></td>
        </tr>
      </table>
    </div>
    <div>
      <h4>Availability</h4>
      <% i = 0 %>
      <%= month_calendar events: @rides do |date, rides| %>
        <% available = false  %>
        <% @rides.each do |ride| %>
          <% if (ride.start_date <= date) && date <= ride.end_date %>
            <% available = true %>
          <% end %>
        <% end %>
        <% if available %>
          <div class="day-cell" style="background-color: darkgray; color: white; text-align: center">
            <span><%= date.day %></span>
          </div>
        <% elsif (i < 7) && (date.day > 20) %>
          <div class="day-cell calendar-off" >
            <%= date.day %>
          </div>
        <% elsif (i > 20) && (date.day < 10) %>
          <div class="day-cell calendar-off">
            <%= date.day %>
          </div>
        <% else %>
          <div class="day-cell" style="text-align: center" >
            <%= link_to date.day, "../rides/new?car_id=#{@car.id}&start_date=#{date}" %>
          </div>
        <% end %>
        <% i += 1 %>
      <% end %>
      <hr>
      <div>
        <%= simple_form_for @ride, { :url => rides_path, :method => 'post' } do |f| %>
          <%= f.input :car_id, :as => :hidden, :input_html => { :value => @car.id } %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit "Book your ride now!", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="small" style="margin: 16px 0;">
        <%= link_to "Go back to your rides without saving", rides_path %>
      </div>
    </div>
  </div>
</div>

<br><hr>
<%= link_to "Edit the car", edit_car_path(@car), class: "btn-primary" %>
<br><hr><br>
<%= link_to raw('<i class="fas fa-trash-alt"></i>'), car_path(@car), method: :delete %>
<br><hr><br>
<%= link_to "Car List", cars_path %>



