 <div class="container">

  <div class="banner" style="padding:15px; text-align:center; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d39a3h63xew422.cloudfront.net/wp-content/uploads/2019/12/05134339/Andrea-Casano-rare-Fiat-600s-meetup-44-1000x666.jpg);">
      <h1>Book a new ride</h1>
      <p>Please fill in all the fields and click "Confirm your ride". </p>
  </div>

  <%= "Car is #{@car.name}" %>

  <%= simple_form_for @ride do |f| %>
    <%= f.association :car, :selected => @car.id, disabled: true %>
    <%= f.association :car, :selected => @car.id, as: :hidden, input_html: { value: @car.id } %>
    <%= f.input :start_date, :selected => @start_date, disabled: false %>
    <%= f.input :end_date, :selected => @start_date, disabled: false %>
    <%= f.submit "Confirm your ride", class: "btn btn-primary" %>
  <% end %>

  <div class="small" style="margin: 16px 0;">
    <%= link_to "Go back to your rides without saving", rides_path %>
  </div>

</div>
