<div class="container">
  <h1><strong>Congratulations, your ride has been confirmed!</strong></h1>

  <h2>Your trip details:</h2>

  <p>Start Date: <%= "#{@ride.start_date} | End Date: #{@ride.end_date}" %></p>

  <h3><strong><%= @ride.car.name %></strong></h3>

  <p><%= @ride.car.description %></p>

    <h2>Where to find your car:</h2>
    <p><%= @ride.car.address %></p>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= [@marker].to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
      <%= link_to "Modify the dates for this ride", edit_ride_path(@ride), class: "btn btn-primary" %>
      <br><hr><br>
      <%= link_to raw('<i class="fas fa-trash-alt"></i>'), ride_path(@ride), method: :delete %>
      <br><hr><br>
      <%= link_to "Ride List", rides_path %>
</div>
